%h1.heading
  = 'New resource'
  
- semantic_form_for(@resource) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', resources_url