<% unless options[:no_formtastic] -%>
- f.inputs do
<% attributes.each do |attribute| -%>
  = f.input :<%= attribute.name %>, :label => '<%= attribute.name.humanize %>'
<% end -%>
<% else -%>
%fieldset
  %dl
<% attributes.each do |attribute| -%>
    %dt.label= f.label :<%= attribute.name %>, '<%= attribute.name.humanize %>'
    %dd.<%= attribute.name %>= f.<%= attribute.field_type %> :<%= attribute.name %>
<% end -%>
<% end -%>