- content_tag_for(:tr, @<%= singular_name -%>) do
<% attributes.each do |attribute| -%>
  %td.<%= attribute.name %>= h <%= singular_name %>.try(:<%= attribute.name %>)
<% end -%>
  %td.actions
    = link_to 'Show', <%= singular_name %>
    |
    = link_to 'Edit', edit_<%= singular_name %>_path(<%= singular_name %>)
    |
    = link_to 'Destroy', <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete