%h1.heading
  = "Resource %s" % @<%= singular_name %>.id
  
- content_tag_for(:dl, @<%= singular_name %>) do
<% attributes.each do |attribute| -%>
  %dt.label= '<%= attribute.name.humanize %>'
  %dd.<%= attribute.name -%>= h @<%= singular_name %>.try(:<%= attribute.name %>)
<% end -%>
  
%p.actions
  = link_to 'Edit', edit_<%= singular_name %>_url(@<%= singular_name %>)
  |
  = link_to 'Index', <%= collection_name %>_url