<% if options[:formtastic] -%>
- form.inputs do
<% attributes.each do |attribute| -%>
  = form.input :<%= attribute.name %>, :label => '<%= attribute.name.humanize %>'
<% end -%>
<% else -%>
%fieldset
  %dl
<% attributes.each do |attribute| -%>
    %dt.label= form.label :<%= attribute.name %>, '<%= attribute.name.humanize %>'
    %dd.<%= attribute.name %>= form.<%= attribute.field_type %> :<%= attribute.name %>
<% end -%>
<% end -%>