- content_tag_for(:tr, <%= singular_name -%>, :class => cycle(:odd, :even)) do
<% attributes.each do |attribute| -%>
  %td.<%= attribute.name %>= h <%= singular_name %>.try(:<%= attribute.name %>)
<% end -%>
  %td.actions
    = link_to 'Show', <%= show_path(singular_name) %>
    |
    = link_to 'Edit', <%= edit_path(singular_name) %>
    |
    = link_to 'Destroy', <%= destroy_path(singular_name) %>, :confirm => 'Are you sure?', :method => :delete