%h1.heading
  = "<%= singular_name.humanize %> %s" % <%= resource_instance %>.id
  
- content_tag_for(:dl, <%= resource_instance %>) do
<% attributes.each do |attribute| -%>
  %dt.label= '<%= attribute.name.humanize %>'
  %dd.<%= attribute.name -%>= h <%= resource_instance %>.try(:<%= attribute.name %>)
<% end -%>
  
%p.actions
  = link_to 'Edit', <%= edit_path %>
  |
  = link_to 'Index', <%= index_path %>